    body{
    background-image: url(../images/animal-avian-bird-875858.jpg);
    background-size:100% auto;
    width: 100%;
    height: 100%;
    }
    img{
    height: 150px;
    width: 150px;    
    }
    .header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    color: white;
    text-align: center;
    border-bottom: 5px solid #e2df24;
    border-top: 5px solid #e2df24;
    padding: 10px;
    }
    .container {
    width: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;    
    color: black;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    opacity: 0.7;
    padding-left: 3%;
    padding-right: 3%;
    }
    #containerScore {
    width: 80%;
    background-color:white;    
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    opacity: 0.7;
    padding-left: 3%;
    padding-right: 3%;
    }
    #totalScore, #computerNumber{
    color: black;
    font-size: 20px;
    }
    .col-md-12 {
    margin: auto;
    }
    .populate {
    background-color: white;
    width: 50%;
    margin: auto;
    }
    #lettersUsed,
    #guessesRemaining,
    #wins,
    #losses{
    color: black;
    font-size: 20px;
    }
    #lossesTitle{
    color: red;
    }
    #winsTitle{
    color: green;
    }
    h1 {
    font-size: 70px;
    font-weight: bold; 
    }
    h2{
    font-size: 18px;
    color: e2df24;
    }
    h3 {
    font-size: 32px;
    font-weight: bold;
    color: e2df24;
    }
    .info {
    font-size: 24px;
    color: e2df24;
    }
    @media only screen and (max-width: 700px) {
    .container, #containerScore{
        width:95%;
    }
}